body
{
  color: white;
  background: #46c535;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed white;
  width: 350px;
  height: 300px; 
}

}
.gesture_icon
  {
    font-size:48px;
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}